<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="quiz_listing_data_source" xsi:type="string">Convert\SkinQuiz\Model\ResourceModel\Quiz\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Convert\SkinQuiz\Model\ResourceModel\Quiz\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">quiz_customer</argument>
            <argument name="eventPrefix" xsi:type="string">quiz_customer_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">quiz_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Convert\SkinQuiz\Model\ResourceModel\Quiz</argument>
        </arguments>
    </type>
</config>