<?xml version="1.0"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_ReferralSystem
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (https://cedcommerce.com/)
 * @license      https://cedcommerce.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ced_ReferralSystem::referral" title="Refer A Friend" sortOrder="90">
                    <resource id="Ced_ReferralSystem::referralstats" title="Referral Report" sortOrder="10" /> 
                    <resource id="Ced_ReferralSystem::denominations" title="Denomination Rules" sortOrder="20" /> 
                    <resource id="Ced_ReferralSystem::discountview" title="Discount Coupons" sortOrder="30" />
                    <resource id="Ced_ReferralSystem::configuration" title="Configuration" sortOrder="40" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Ced_ReferralSystem::ced_referral_system"
                                      title="Refer A Friend Configuration Settings" sortOrder="30" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>        
    </acl>
</config>