<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<customer_approval>
			<email_setting>
				<send_approve>0</send_approve>
			</email_setting>
		</customer_approval>
	</default>
</config>
