<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\SocialLogin\Api\Data\SocialInterface" type="Amasty\SocialLogin\Model\Social" />
    <preference for="Amasty\SocialLogin\Api\SocialRepositoryInterface" type="Amasty\SocialLogin\Model\Repository\SocialRepository" />
    <preference for="Amasty\SocialLogin\Api\Data\SalesInterface" type="Amasty\SocialLogin\Model\Sales" />
    <preference for="Amasty\SocialLogin\Api\SalesRepositoryInterface" type="Amasty\SocialLogin\Model\Repository\SalesRepository" />
</config>