<?xml version="1.0"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_ReferralSystem
 * @author 		CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (https://cedcommerce.com/)
 * @license      https://cedcommerce.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ced_ReferralSystem::referral" title="Refer A Friend" module="Ced_ReferralSystem"
             sortOrder="20" resource="Ced_ReferralSystem::referral"/>
        <add id="Ced_ReferralSystem::referralstats" title="Referral Report" module="Ced_ReferralSystem"
             sortOrder="10" parent="Ced_ReferralSystem::referral"  action="referralsystem/referralstats/index"
             resource="Ced_ReferralSystem::referralstats" />
        <add id="Ced_ReferralSystem::denominations" title="Denomination Rules" module="Ced_ReferralSystem"
             sortOrder="20" parent="Ced_ReferralSystem::referral"  action="referralsystem/discount/denomination"
             resource="Ced_ReferralSystem::denominations" />
        <add id="Ced_ReferralSystem::discountview" title="Discount Coupons" module="Ced_ReferralSystem"
             sortOrder="30" parent="Ced_ReferralSystem::referral"  action="referralsystem/discount/couponsview"
             resource="Ced_ReferralSystem::discountview" />
        <add id="Ced_ReferralSystem::configuration" title="Configurations" module="Ced_ReferralSystem"
             sortOrder="40" parent="Ced_ReferralSystem::referral"  action="adminhtml/system_config/edit/section/referral"
             resource="Ced_ReferralSystem::configuration" />
    </menu>
</config>