<div id="csp-preview-popup">
	<label for="order_id">Order ID #</label><input id="order_id" type="text" name="order_id" value="" />
	<br /><br />
	<div class="csp-preview-content csp-clearfix">
		<div class="item">
			<a href="javascript:void(0)" data-action="page" data-type="new" title="Plumrocket Magento Theme" class="csp-preview-img show-preview plumrocket-page"></a>
			<button data-action="page" data-type="new" class="show-preview">New Design</button>
		</div>
		<div class="item">
			<a href="javascript:void(0)" data-action="page" data-type="old" title="Default Magento Theme" class="csp-preview-img show-preview default-page"></a>
			<button data-action="page" data-type="old" class="show-preview">Old Design</span></button>
		</div>
	</div>
	
	<h1 class="modal-title" data-role="title">Better Order Email Preview</h1>
	<div class="csp-preview-content csp-clearfix">
		<div class="item">
			<a href="javascript:void(0)" data-action="email" data-type="new" title="Plumrocket Magento Theme" class="csp-preview-img show-preview plumrocket-email"></a>
			<button data-action="email" data-type="new" class="show-preview">New Design</button>
		</div>
		<div class="item">
			<a href="javascript:void(0)" data-action="email" data-type="old" title="Plumrocket Magento Theme" class="csp-preview-img show-preview default-email"></a>
			<button data-action="email" data-type="old" class="show-preview">Old Design</button>
		</div>
	</div>
</div>