<?xml version="1.0" ?>
<!--
/**
 * ConvertDigital - Core Module version 2.0.0 for Magento 2
 *
 * @category  Integration
 * @package   Convert
 * @author    Convert Digital
 * @copyright 2018 Convert Digital
 * @version   2.0.0
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<convert_core>
			<general>
				<debug>0</debug>
			</general>
		</convert_core>
	</default>
</config>
