<?xml version='1.0'?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Config:etc/system_file.xsd'>
	<system>
		<section id='sales'>
			<group id='mage2pro' showInDefault='1' showInStore='1' showInWebsite='1' sortOrder='-1' translate='label'>
				<label>Order Notifier</label>
				<field id='enable' showInDefault='1' showInStore='1' showInWebsite='1' sortOrder='1' translate='label' type='select'>
					<label>Enable?</label>
					<comment><![CDATA[Enable sending?]]></comment>
					<config_path>mage2pro/order_notifier/enable</config_path>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id='debug' showInDefault='1' showInStore='1' showInWebsite='1' sortOrder='1' translate='label' type='select'>
					<label>Debug Mode</label>
					<config_path>mage2pro/order_notifier/debug</config_path>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<depends>
						<field id='enable'>1</field>
					</depends>
				</field>
				<field id='url' showInDefault='1' showInStore='1' showInWebsite='1' sortOrder='2' translate='label' type='text'>
					<label>URL</label>
					<comment><![CDATA[The endpoint URL]]></comment>
					<config_path>mage2pro/order_notifier/url</config_path>
					<depends>
						<field id='enable'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
			</group>
		</section>
	</system>
</config>