<?xml version="1.0"?>
<!--
/**
 * @author ExtensionHut Team
 * @copyright Copyright (c) 2018 ExtensionHut (https://www.extensionhut.com/)
 * @package EH_Core
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!--
    <event name="backend_auth_user_login_success">
        <observer name="eh_core_admin_login" instance="EH\Core\Observer\Event1" />
    </event>
    <event name="controller_action_predispatch">
        <observer name="eh_core_pre_dispatch" instance="EH\Core\Observer\Event2" />
    </event>
-->
</config>
