<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>	
		<add id="Convert_OldOrder::oldorder"
      	title="Old Orders"
      	translate="title"
      	module="Convert_OldOrder"
      	parent="Magento_Sales::sales_operation"
      	sortOrder="10"
      	dependsOnModule="Convert_OldOrder"
      	action="sales/oldorder/index"
      	resource="Convert_OldOrder::oldorder"/>
    </menu>
</config>